* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#third-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("Images/Backgrounds/kitchen_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}




#previous2 {
  position: absolute;
  top: 42%;
  left: 50px;
  transform: translate(-50%, -50%);
  width: 50px;
  z-index: 1;
  cursor : pointer;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

#next2 {
  position: absolute;
  top: 42%;
  left: 1070px;
  transform: translate(-50%, -50%);
  width: 50px;
  z-index: 1;
  cursor : pointer;
  transition: transform 0.3s ease;
  transform-origin: center center;
}

#previous2:hover,
#next2:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

#milkoat_pump {
  position: absolute;
  top: 0px;
  left: 175px;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
  cursor: pointer;
  display : none;
}

#milkcow_pump {
  position: absolute;
  top: 0px;
  left: 175px;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
  cursor: pointer;
}

#milkalm_pump {
  position: absolute;
  top: 0px;
  left: 175px;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
  cursor: pointer;
  display : none;
}

#water_pump {
  position: absolute;
  top: 0px;
  left: 875px;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
  cursor: pointer;
}

#choc_pump {
  position: absolute;
  top: 0px;
  left: 700px;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
  cursor: pointer;
}

#espr_pump {
  position: absolute;
  top: 0px;
  left: 525px;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
  cursor: pointer;
}

#foam_pump {
  position: absolute;
  top: 0px;
  left: 350px;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
  pointer-events: auto;
  cursor: pointer;
}

#foam_pump:hover,
#espr_pump:hover,
#choc_pump:hover,
#water_pump:hover,
#milkoat_pump:hover,
#milkcow_pump:hover,
#milkalm_pump:hover{
  filter: drop-shadow(0 0 4px rgb(147, 145, 53));
}

